@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;


////// Custom CSS //////body {

h1,h2,h3,h4,h5,p,li,div,section,input,select,textarea,button,a{
  font-family: 'Lato';

}

.top-bar-right {
  ul li a {
    color: $faded-black;
  }
	background-color: white;
}

#hero-image {
  background-image: url("../img/hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;

}
#pitch-wrapper {
  display: table;
  width: 100%;
  height: inherit;
  background-color: black;
  opacity: 0.7;

}
#hero-pitch {
  display: table-cell;
  color: $white;
  vertical-align: middle;
  font-size: 5em;

}

section{
  padding: 8% 0;

  &:first-of-type{
    padding: 0;
  }
}



.top-bar{
  background-color: transparent;
}

.color{

		background-color: $pink-shade;
	}

.caption a{
	font-family: 'Lato';
}

.menu-icon.hamburger-button {
	display: none;

}

@media screen and (max-width:640px) {
	.main-menu{
		display: none;

	}
	.menu-icon.hamburger-button{
		display: block;
		float:right;
	}
}

.callout{
  color: $faded-black;
}


#footer{
  background-color: #AB3E68;
  color: $white;
}
